body {
  background-image: url("src/components/img/3680428.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen tanto horizontal como verticalmente */
}