h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(40, 247, 88);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(40, 247, 88); 
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #444; 
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #a1c6ed;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

  